[submodule "essentials"]
	path = essentials
	url = git@github.com:ashwinn76/essentials.git
[submodule "algo_trading/ext/wise_enum"]
	path = algo_trading/ext/wise_enum
	url = git@github.com:quicknir/wise_enum.git
